include /shared/mixins/svg/pencil
include /shared/mixins/svg/cross-sm
include /shared/mixins/svg/plus

mixin three-icons
  - var pencil = 'svg-pencil';
  - var cross = 'svg-cross-sm';
  .xo-icons__three
    span &#128065;
    span
      +#{pencil}
    span
      +#{cross}

mixin two-icons
  - var plus = 'svg-plus';
  .xo-icons__two
    span &#128065;
    span
      +#{plus}

mixin two-icons-2
  - var pencil = 'svg-pencil';
  - var cross = 'svg-cross-sm';
  .xo-icons__two--2
    span
      +#{pencil}
    span
      +#{cross}
