mixin calendar(width)
  input.xo-inputs__calendar(type='date' name='xo-date' id='xo-date' style=`width: ${width}px`)

mixin simple_input(placeholder, width)
  input.xo-inputs__simple-input(type='text' value=placeholder name='xo-text' style=`width: ${width}px`)

mixin simple_select(options = [], width)
  .xo-inputs__simple-select-wrapper
    select.xo-inputs__simple-select(style= `width: ${width}px` name='xo-select' id='xo-select')
      each option in options
        - var [key, val] = Object.entries(option)[0];
        option(value= key)
          | #{val}

mixin complex_input(item= [], width)
  - var [percent, current,  common] = item;
  .xo-inputs__complex-input(style={width: `${width}px`})
    span= percent
    input(type='number' value= current name='your_custom_name')
    span= `из ${common} m³`
